<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Canadian Pizza</h1>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>

        
        
      
         <div class="col-lg-13 mt-3 mb-3">
          <ul class="navigation">
            <li #navigationLink1>
              <a href="#">
                <span class="icon">
                  <i class="bi bi-house"></i>
                  <div class="circle"></div>
                </span>
                <span class="text">Home</span>
              </a>
            </li>
            <li #navigationLink2>
              <a routerLink="menu" href="#">
                <span class="icon">
                  <i class="bi bi-list-check"></i>
                  <div class="circle"></div>
                </span>
                <span class="text">Menu</span>
              </a>
            </li>
            <li #navigationLink3>
              <a routerLink="about" href="#">
                <span class="icon">
                  <i class="bi bi-info-circle-fill"></i>
                  <div class="circle"></div>
                </span>
                <span class="text">About</span>
              </a>
            </li>
            <li #navigationLink4>
              <a routerLink="contact" href="#">
                <span class="icon">
                  <i class="bi bi-person-lines-fill"></i>
                  <div class="circle"></div>
                </span>
                <span class="text">Contact</span>
              </a>
            </li>
            <li #navigationLink5>
              <a routerLink="footer" href="#">
                <span class="icon">
                  <i class="bi bi-geo-alt"></i>
                  <div class="circle"></div>
                </span>
                <span class="text">Location</span>
              </a>
            </li>
          </ul>


            
        </div>
        <!-- socialmedia -->
        <div class="col-lg-3 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>


  <div class="footer-area-top section-space">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="footer-box footer-about">
                      <h3 class="title-bar-footer">Contact Canadian Pizza</h3>
                      <ul>
                          <li>
                              <h4>Address</h4>
                              <p>Block No. 13, 1st Floor, Inside Unimall, Lovely ProfessionL University, Phagwara Punjab 144411</p>
                          </li>
                          <li>
                              <h4>Phone</h4>
                              <p><a href="tel:9988550652">+91 9988550652</a></p>
                          </li>
                          <li>
                              <h4>Email</h4>
                              <p><a href="mailto:rajbrrar8570@gmail.com">rajbrrar8570@gmail.com</a></p>
                          </li>


                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="footer-box">
                      <h3 class="title-bar-footer">Social Media!</h3>
                      <div class="footer-about">
                          <p>We at Canadian Pizza would love to serve you yummy Pizza straight from our kitchen ready for you. We will fulfil you hunger needs and ensure that we leave you licking your fingers and asking for more yummy Pizza!</p>
                      </div>
                      <ul class="footer-social">
                          <li><a href="https://www.facebook.com/profile.php?id=100090703954886" target="_blank"><i class="bi bi-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="https://www.instagram.com/canadianpizza.cp/" target="_blank"><i class="bi bi-instagram" aria-hidden="true"></i></a></li>
                          <li><a href="https://www.snapchat.com/add/canadianpizzacp" target="_blank"><i class="bi bi-snapchat" aria-hidden="true"></i></a></li>
                      </ul>


                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="footer-box">
                      <h3 class="title-bar-footer">Opening Hours</h3>
                      <ul class="opening-schedule">
                          <li>Monday<span> 09:00 AM - 10:00 PM</span></li>
                          <li>Tuesday<span> 09:00 AM - 10:00 PM</span></li>
                          <li>Wednesday <span> 09:00 AM - 10:00 PM</span></li>
                          <li>Thursday<span> 09:00 AM - 10:00 PM</span></li>
                          <li>Friday<span> 09:00 AM - 10:00 PM</span></li>
                          <li>Saturday <span> 09:00 AM - 10:00 PM</span></li>
                          <li>Sunday<span> 09:00 AM - 10:00 PM</span></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-area-bottom">
      <div class="container">
          <div class="row">
              <div class="col-lg-8">
                  <p>
                      <script>
                          document.write(new Date().getFullYear())
                      </script> &copy; Canadian Pizza All Rights Reserved. &nbsp; Designed by<a target="_blank" href="https://www.linkedin.com/in/komal-kumari-90858a227/"> Komal</a></p>
              </div>

          </div>

      </div>
  </div>
</div>
